<mat-card *ngIf="company">
  <mat-card-title>{{ company.companyName }}</mat-card-title>
  <mat-card-content>
    <p>Name: {{ company.companyName }}</p>
    <div>
      Address
      <address>
        {{ company.companyName }}
        {{ company.street }}
        {{ company.city }}
        {{ company.country }}
      </address>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="company = null">Close</button>
  </mat-card-footer>
</mat-card>
