<mat-card>
  <mat-card-title>Clients</mat-card-title>
  <mat-card-content>
    <div>
      <input type="text" [formControl]="search" placeholder="client name">
    </div>

    <invoices-client-list [companies]="(state$ | async)?.clients" (page)="reloadCompanies($event)" [rowCount]="rowCount">
    </invoices-client-list>
  </mat-card-content>
</mat-card>
