<mat-card *ngIf="invoice">
  <mat-card-title>Invoice for {{ invoice.company.companyName }}</mat-card-title>
  <mat-card-content>
    <p>Name: {{ invoice.company.companyName }}</p>
    <div>
      Address
      <address>
        {{ invoice.company.companyName }}
        {{ invoice.company.street }}
        {{ invoice.company.city }}
        {{ invoice.company.country }}
      </address>
    </div>
    <ul>
      <li *ngFor="let lineItem of invoice.lineItems">
        <p class="product-name">{{ lineItem.product }}</p>
        <p class="amount">Price for this item {{ lineItem.price | currency:'EUR' }}</p>
        <p class="quantity">Quantity {{ lineItem.quantity }}</p>
      </li>

      <mat-list-item *ngIf="invoice.lineItems?.length === 0">No items to show</mat-list-item>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="invoice = null">Close</button>
  </mat-card-footer>
</mat-card>
