/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main > section {
  max-width: 750px;
  margin: 0 auto;
}

mat-list-item span {
  padding: .5em;
}

.select {
  text-decoration: underline;
}
